body{
 height: calc(85px 100%);
 background-color: white;
 
}
p{
    background-color: rgb(255, 255, 255);
    width: 40vh;
    height: 5vh;
   
    text-align: center;
    border-radius: 10px;
    font-family: inherit;
    overflow:auto;
}
hr{
background-color: black;
width: 100%;
size: 1px;
}
label{
    margin-left: 1em;
    margin-right: 1em;

    font-family: sans-serif;
    font-size: 20px;
}
.Inf-general{

    display: flex;
    margin: 0 auto;
    margin-top: 5em;
    margin-left: 10px ;
    margin-right:10px ;
    margin-bottom: 2em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px;

}
.Inf-time{
    display: flex;
    margin: 0 auto;
    margin-top: 5em;
    margin-left: 10px ;
    margin-right:10px ;
    margin-bottom: 2em;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
   
}

.ms-inf-pro{
   display: flex;
   margin: 10px;
   background-color: aliceblue;
}
.ms-inf-mat{
margin-left: 30px;
margin-right: 30%;
}
.input-modal{
    display: flex;
    margin: 1em;
    padding: 1em;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
    .input-forma {
      border: none;
      border-bottom: black 1px solid;
        
    }
    .input-forma:focus{
        border-bottom: 2px solid red;
    }
  .container-principal{
      background-color: rgb(211, 211, 211);
  }
  .color-base{
      background-color: rgb(226, 226, 226);
      height: 100vh;
      overflow-y: auto;
  }
  .presentacion{
    background-color: rgb(107, 107, 206);
    border-radius: 5px;
    color: white;
    text-align: center;
  }