{% extends "layout.html" %} {% block content %}
<head>
    <script src="../static/js/validaciones.js"></script>
</head>
{% if salida == "correcto" %}
  <script>
    
 function salida1()
    {
		swal("Registro exitoso", "Se guardo su petición", "success");
      return false;
    }

    salida1()
  </script>
{% elif salida == "encontrado" %}
<script>
  
function salida()
  {
      swal("Busqueda exitosa", "Se encontro el usuario", "success");
    return false;
  }

  salida()
</script>
{% endif %}

<!-- Encabezado -->
<div class="text-center mt-4">
    <label class="h4"><strong>Recursos Humanos</strong></label>
</div>

<!-- Inicio del menu de pestañas -->
<div class="main-cont-rrh">
<ul class="nav nav-tabs  mb-3 mt-3 justify-content-center" id="justifyCenterTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="justify-center-home-tab" data-toggle="tab" href="#justify-center-home" role="tab"
            aria-controls="justify-center-home" aria-selected="true">Prestaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="justify-center-profile-tab" data-toggle="tab" href="#justify-center-profile" role="tab"
            aria-controls="justify-center-profile" aria-selected="false">Vacaciones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="justify-center-contact-tab" data-toggle="tab" href="#justify-center-contact" role="tab"
            aria-controls="justify-center-contact" aria-selected="false">EPP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="justify-center-viatico-tab" data-toggle="tab" href="#justify-center-viatico" role="tab"
            aria-controls="justify-center-viatico" aria-selected="false">Víaticos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="justify-center-solicitudes-tab" data-toggle="tab" href="#justify-center-solicitudes" role="tab"
            aria-controls="justify-center-viatico" aria-selected="false">Solicitudes</a>
    </li>
</ul>
<!-- fin del menu de pestañas -->

<div class="tab-content" id="justifyCenterTabContent">
    <!-- Inicio del formulario de solicitud -->
    <div class="tab-pane fade show active" id="justify-center-home" role="tabpanel" aria-labelledby="justify-center-home-tab">
        <p class="dropcap  dc-outline-primary">
                <div class="text-center my-4">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h5><strong>Tipo de solicitud</strong></h5>
                    </div>
                </div>
        <!--inicio del formulario de epp-->
        <div class="widget-content widget-content-area">
            <form id="formpresta" method="POST" enctype="multipart/form-data" action="/prestaciones">
                <div class="col col-12">
                    <div class="row col-12 d-flex justify-content-around mb-4">
                        <div class="custom-control custom-radio col-4">
                            <input type="radio" id="rbtAdelanto" name="customRadio" value="adelanto"
                                class="custom-control-input">
                            <label class="custom-control-label" for="rbtAdelanto">Adelanto de salario</label>
                        </div>
                        <div class="custom-control custom-radio mb-2 col-3">
                            <input type="radio" id="rbtPrestamo" name="customRadio" value="prestamo"
                                class="custom-control-input" checked="true">
                            <label class="custom-control-label" for="rbtPrestamo">Préstamo</label>
                        </div>
                    </div>
                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div class="form-group col-6 ml-0 pl-0" id="container-name">
                            <p>Código de usuario</p>
                            <input id="cod" type="number" value="{{info[0].Id_Empleado}}" placeholder="Código del usuario"
                                min="1" class="form-control" name="codigo" disabled>
                        </div>
                        <div class="form-group col-6 ml-0 pl-0" id="container-name">
                            <p style="color: white;">Busqueda</p>
                            <button type="submit" class="btn btn-primary w-20" disabled
                                >
                                <a style="color: white; text-decoration: none;">Buscar</a>
                            </button>
                        </div>
                    </div>
                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div class="form-group col-6 ml-0 pl-0" id="container-name">
                            <p>Nombres</p>
                            <input id="nombres" type="text" name="nombre" placeholder="Ingrese su nombre" disabled value="{{info[0].Nombre}}"
                                class="form-control">
                        </div>
                    
                        <div class="form-group col-6 ml-0 pl-0" id="container-user">
                            <p>Apellidos</p>
                            <input id="apellidos" type="text" name="apellido" placeholder="Ingrese sus apellidos" disabled value="{{info[0].Apellido}}"
                                class="form-control" >
                        </div>   
                        </div>
                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div id="montoprestamo" class="form-group col-6 ml-0 pl-0" id="container-monto">
                            <p data-toggle="tooltip" title="El monto máximo que puede solicitar es el de 1 salario y esta parte de acá es solo 1 texto pura prueba jajajaja">Monto a solicitar (C$)</p>
                            <input id="t-montopr" type="number" min="1" max="{{info[0].salario}}" step="0.01" name="montopr" placeholder="Monto"
                                class="form-control" required>
                           
                        </div>
                        <div id="montoadelanto" class="form-group col-6 ml-0 pl-0" id="container-monto">
                            <p>Monto a solicitar (C$)</p>
                            <input id="t-montoad" type="number" min="1" max="{{info[0].salario * 0.3}}" step="0.01" name="montoad" placeholder="Monto"
                                class="form-control" required>
                           
                        </div>
                        <div id="cuotas" class="form-group col-6 ml-0 pl-0 mr-0 pr-0" id="container-cuota">
                            <p>Cantidad de cuotas (por mes)</p>
                            <input id="c-cuota" type="number" name="cuota" min = "2" max = "6" placeholder="Cantidad de cuotas a pagar"
                                class="form-control" required>
                            
                        </div>
                    </div>

                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div class="form-group col-6 ml-0 pl-0" id="container-monto">
                            <div class="form-group" id="container-concepto">
                                <p>A concepto de</p>
                                <input id="t-concepto" type="text" name="concepto" placeholder="Motivo de la solicitud"
                                    class="form-control" required>
                                
                            </div>
                           
                        </div>
                        <div id="cuotas" class="form-group col-6 ml-0 pl-0 mr-0 pr-0" id="container-cuota">
                            <p>Cédula del usuario</p>
                        <input id="ced" type="text" name="cedula" placeholder="000-000000-0000A" maxlength="16"
                            class="form-control" disabled value="{{info[0].Cedula}}">
                        </div>
                    </div>

                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div id="inicio" class="form-group col-6 ml-0 pl-0" id="container-name">
                            <p>Fecha de inicio de cancelación</p>
                            <input id="inp-inicio" type="date" name="inicio" placeholder="Apellidos de usuario"
                                class="form-control" required>
                        </div>
                    
                        <div id="final" class="form-group col-6 ml-0 pl-0" id="container-user">
                            <p>Fecha de final de cancelación</p>
                            <input id="inp-final" type="date" name="final" placeholder="Apellidos de usuario"
                                class="form-control" required>
                        </div>   
                    </div>

                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                      <div class="form-group col-6 ml-0 pl-0" id="container-concepto">
                        <p>Adjunte constacia</p>
                        <div class="custom-file">
                            <input type="file" name="archivo" class="custom-file-input" id="customFile" accept="image/png,image/jpeg" required>
                            <label class="custom-file-label" for="customFile">Escoja una imagen</label>
                          </div>
                        </div>

                        <div id="pagar" class="form-group col-6 ml-0 pl-0" id="container-cuota">
                            <p>Monto a pagar (por mes)</p>
                            <input id="t-abono" type="number" name="pagar" min = "2" max="{{info[0].salario * 0.3}}" placeholder="Cantidad a abonar por mes"
                                class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group justify-content-center py-2">
                        <p class="text-center">Esta solicitud tiene una <b>vigencia de 7 días</b></p>
                    </div>

                    <div class="row justify-content-center">
                        <input id="prest" type="submit" name="txt" class="btn btn-primary">
                    </div> 
                </div>
            </form>
        </div>
        </p>
    </div>
    <!-- Fin del formulario de solicitud -->

    <!-- Inicio del formulario de vacaciones -->
    <div class="tab-pane fade" id="justify-center-profile" role="tabpanel" aria-labelledby="justify-center-profile-tab">
        <p class="dropcap  dc-outline-primary">
            <div class="text-center my-4">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    {% if dias[0].diasvac <= 0%}
                    <h6 style="color:red"><strong>*La cantidad de días de vacaciones disponibles es: {{dias[0].diasvac}}*</strong></h6>
                    {%else%}
                    <h6 style="color:black"><strong>*La cantidad de días de vacaciones disponibles es: {{dias[0].diasvac}}*</strong></h6>
                    {%endif%}
                </div>
            </div>
                <div class="widget-content widget-content-area">
        <form id="formvaca" method="POST" action="/vacaciones">
            <div class="col col-12">
                <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                    <div class="form-group col-6 ml-0 pl-0" id="container-name">
                        <p>Nombres</p>
                        <input id="t-userName" type="text" name="nombre" placeholder="Ingrese su nombre"
                            class="form-control" required>
                    </div>
                
                    <div class="form-group col-6 ml-0 pl-0" id="container-user">
                        <p>Apellidos</p>
                        <input id="t-userName" type="text" name="apellido" placeholder="Ingrese sus apellidos"
                            class="form-control" required>
                    </div>   
                    </div>
                
                <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                    <div class="form-group col-6 ml-0 pl-0" id="container-name">
                        <p>Fecha de inicio</p>
                        <input id="t-userName" type="date" name="inicio" placeholder="Apellidos de usuario"
                            class="form-control" required>
                    </div>
                
                    <div class="form-group col-6 ml-0 pl-0" id="container-user">
                        <p>Fecha de final</p>
                        <input id="t-userName" type="date" name="final" placeholder="Apellidos de usuario"
                            class="form-control" required>
                    </div>   
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <p>Descripcion permiso</p>
                            <textarea id="taskdescription" placeholder="Descripcion" rows="3" class="form-control"
                                name="descripcion" required></textarea>
                    </div>
                </div>

                <div class="row col-12 justify-content-center">
                    <div class="col-6 ml-0 mr-0">
                        <div class="event-badge my-4">
                            <p class="text-center">Motivo</p>
    
                            <div class="d-sm-flex d-block justify-content-around">

                                <div class="n-chk ml-3">
                                    <label class="new-control new-radio radio-primary">
                                        <input type="radio" class="new-control-input" name="marker"
                                            value="vacaciones" checked="true">
                                        <span class="new-control-indicator"></span>Vacaciones
                                    </label>
                                </div>
    
    
                                <div class="n-chk ml-3">
                                    <label class="new-control new-radio radio-warning">
                                        <input type="radio" class="new-control-input" name="marker"
                                            value="cita">
                                        <span class="new-control-indicator"></span>Cita Médica
                                    </label>
                                </div>
    
                                <div class="n-chk ml-3">
                                    <label class="new-control new-radio radio-success">
                                        <input type="radio" class="new-control-input" name="marker"
                                            value="personal">
                                        <span class="new-control-indicator"></span>Personal
                                    </label>
                                </div>
    
                                <div class="n-chk ml-3">
                                    <label class="new-control new-radio radio-success">
                                        <input id="otro" type="radio" class="new-control-input" name="marker"
                                            value="otro">
                                        <span class="new-control-indicator"></span>Otro
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group my-2" id="motivo">
                    <p>Ingrese el motivo</p>
                    <input id="motivo1" type="text" name="mot" placeholder="Ingrese el motivo especifico" class="form-control" >
                </div>

                <div class="form-group justify-content-center py-2">
                    <p class="text-center">Esta solicitud tiene una <b>vigencia de 7 días</b></p>
                </div>

                <div class="row justify-content-center">
                    <input type="submit" name="txt" class="btn btn-primary">
                </div>
            </div>
        </form>
    </div>
    </p>
    </div>
    <!-- Fin del formulario de vacaciones -->

    <!-- Inicio del formulario de Epp -->
    <div class="tab-pane fade" id="justify-center-contact" role="tabpanel" aria-labelledby="justify-center-contact-tab">
        <p class="dropcap  dc-outline-primary">
            <div class="text-center my-4">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h5><strong>Tipo de solicitud</strong></h5>
                </div>
            </div>
            <!--inicio del formulario de epp-->

        <div class="widget-content widget-content-area">
            <!--formulario-->
            <form id = "formepp" method="POST" action="/epp">
                <div class="col col-12">
                    <div class="row col-12 d-flex justify-content-around mb-4">
                        <!--radios buttom-->
                        <div class="custom-control custom-radio col-4">
                            <input type="radio" id="rbtEntrega" name="customRadio" value="primeravez" class="custom-control-input">
                            <label class="custom-control-label" for="rbtEntrega">Primera entrega</label>
                        </div>
                        <div class="custom-control custom-radio mb-2 col-3">
                            <input type="radio" id="rbtReemplazo" name="customRadio" value="reemplazo" class="custom-control-input"
                                checked="true">
                            <label class="custom-control-label" for="rbtReemplazo">Reemplazo</label>
                        </div>
                    </div>
                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div class="form-group col-6 ml-0 pl-0" id="container-name">
                            <p>Nombres</p>
                            <input id="t-userName" type="text" name="nombre" placeholder="Ingrese sus nombres"
                                class="form-control" required>
                        </div>
                    
                        <div class="form-group col-6 ml-0 pl-0" id="container-user">
                            <p>Apellidos</p>
                            <input id="t-userName" type="text" name="apellido" placeholder="Ingrese sus apellidos"
                                class="form-control" required>
                        </div>   
                        </div>
                    
                    <div class="form-group" id="container-descripcion">
                        <p>Nombre del equipo</p>
                        <input id="t-descripcion" type="text" name="equipo"
                            placeholder="Nombre del equipo" class="form-control" required>
                    </div>
                    <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                        <div class="form-group col-6 ml-0 pl-0" id="container-monto">
                            <p>Marca</p>
                            <input id="t-marca" type="text" name="marca" placeholder="Marca" class="form-control"
                                required>

                        </div>
                        <div class="form-group col-6 ml-0 pl-0 mr-0 pr-0" id="container-cuota">
                            <p>Cantidad</p>
                            <input id="t-cantidad" type="number" min="1" name="cantidad" placeholder="Cantidad"
                                class="form-control" required>

                        </div>
                    </div>
                    <div class="form-group" id="container-concepto">
                        <p>Observaciones:</p>
                        <textarea id="t-concepto" type="text" name="observacion" placeholder="Agregue una descripción del producto y para que lo necesita"
                            class="form-control" required></textarea>

                    </div>

                    <div class="form-group justify-content-center py-2">
                        <p class="text-center">Esta solicitud tiene una <b>vigencia de 7 días</b></p>
                    </div>

                    <div class="row justify-content-center">
                        <input type="submit" name="txt" class="btn btn-primary">
                    </div>
                </div>


            </form>
        </div>
        </p>
    </div>
    <!-- fin del formulario epp -->

    <!--Inicio del formulario viaticos-->
    <div class="tab-pane fade" id="justify-center-viatico" role="tabpanel" aria-labelledby="justify-center-viatico-tab">
        <p class="dropcap  dc-outline-primary">
            <!--inicio del formulario de viaticos-->
        <div class="widget-content widget-content-area">
            <!--formulario-->
            <div class="widget-content widget-content-area">

                <div class="m-3">
                    <form id="formvia" action="/viaticos" method="post">
                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p>Nombres</p>
                                <input id="t-userName" type="text" name="nombre" placeholder="Ingrese su nombre"
                                    class="form-control" required>
                            </div>
                        
                            <div class="form-group col-6 ml-0 pl-0" id="container-user">
                                <p>Apellidos</p>
                                <input id="t-userName" type="text" name="apellido" placeholder="Ingrese sus apellidos"
                                    class="form-control" required>
                            </div>   
                            </div>
                        
                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p>Fecha de inicio</p>
                                <input id="t-userName" type="date" name="inicio" placeholder="Apellidos de usuario"
                                    class="form-control" required>
                            </div>
                        
                            <div class="form-group col-6 ml-0 pl-0" id="container-user">
                                <p>Fecha de final</p>
                                <input id="t-userName" type="date" name="final" placeholder="Apellidos de usuario"
                                    class="form-control" required>
                            </div>   
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <p>Descripcion Víatico</p>
                                    <textarea id="taskdescription" placeholder="Descripcion del uso del víatico" rows="3" class="form-control"
                                        name="descripcion" required></textarea>
                            </div>
                        </div>

                        <div class="form-group my-3 ml-1" id="motivo">
                            <p>Lugar de destino</p>
                            <input id="motivo1" type="text" placeholder="Ingrese el motivo especifico" class="form-control"
                                    name="destino" required>
                        </div>

                        <div class="row col-12 justify-content-center">
                            <div class="col-6 ml-0 mr-0">
                                <div class="event-badge my-2">
                                    <p class="text-center">Motivo</p>
            
                                    <div class="d-sm-flex d-block justify-content-around">
        
                                        <div class="n-chk ml-3">
                                            <label class="new-control new-radio radio-primary">
                                                <input type="radio" class="new-control-input" name="marker"
                                                    value="Hospedaje" checked="true">
                                                <span class="new-control-indicator"></span>Hospedaje
                                            </label>
                                        </div>
            
            
                                        <div class="n-chk ml-3">
                                            <label class="new-control new-radio radio-warning">
                                                <input type="radio" class="new-control-input" name="marker"
                                                    value="Alimentación">
                                                <span class="new-control-indicator"></span>Alimentación
                                            </label>
                                        </div>
            
                                        <div class="n-chk ml-3">
                                            <label class="new-control new-radio radio-success">
                                                <input type="radio" class="new-control-input" name="marker"
                                                    value="Transporte">
                                                <span class="new-control-indicator"></span>Transporte
                                            </label>
                                        </div>
            
                                        <div class="n-chk ml-3">
                                            <label class="new-control new-radio radio-success">
                                                <input id="otro1" type="radio" class="new-control-input" name="marker"
                                                    value="otro">
                                                <span class="new-control-indicator"></span>Otro
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group my-2" id="motivo2">
                            <p>Ingrese el motivo</p>
                            <input id="motivo3" type="text" placeholder="Ingrese el motivo especifico" class="form-control"
                                    name="mot">
                        </div>

                        <!-- <div class="row col-sm-12 justify-content-center pr-0 mr-0 ml-0 pl-0">
                            <input type="submit" name="txt" class="mt-4 btn btn-primary col-sm-12 mr-0">
                        </div> -->
                        <div class="form-group justify-content-center py-2">
                            <p class="text-center">Esta solicitud tiene una <b>vigencia de 7 días</b></p>
                        </div>

                        <div class="row justify-content-center">
                            <input type="submit" name="txt" class="btn btn-primary">
                        </div>

                    </form>
                </div>
                <!-- </div>
                </div> -->
            </div>
        </div>
        <!--fin del formulario de viaticos-->
        </p>
    </div>
    <!-- Fin del formulario viaticos -->

    <!-- Inicio de la pestaña solicitudes -->
    <div class="tab-pane fade" id="justify-center-solicitudes" role="tabpanel" aria-labelledby="justify-center-home-tab">
        <p class="dropcap  dc-outline-primary">
                <div class="text-center my-4">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h5><strong>Peticiones realizadas</strong></h5>
                    </div>
                </div>
        <!--inicio del formulario de epp-->
        <div class="widget-content widget-content-area">
            <div id="tabla">
            <table class="table table-hover text-center">
                <thead" id="tabla1">
                <tr>
                    <th  scope="col" colspan = "5" style = "text-align: center; background-color: #286478; color: white;">
                        <!-- <div class="dropdown show"> -->
                        <a style="background-color: #286478; border: none; " class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <strong>Escoja una opcion</strong> 
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/mostrarprestaciones">Prestaciones</a>
                          <a class="dropdown-item" href="/mostrarvacaciones">Vacaciones</a>
                          <a class="dropdown-item" href="/mostrarepp">EPP</a>
                          <a class="dropdown-item" href="/mostrarviaticos">Viaticos</a>
                        </div>
                      <!-- </div> -->
                    </th>    
                </tr>
                <!-- <tr style="height: 2px;"></tr> -->
                  <tr style="background-color: #286478; color: white;">
                    <th scope="col">
                    Editar   
                    </td>
                    </th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">tipo</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                    {% for p in presta%}
                  <tr>
                    <th scope="row">
                        <p><a class="btn btn-dark" style = "background: #286478; border-color: #286478;" href="#"><i class="bi bi-eye" style = "color: white;"></i></a></p>
                    </th>
                    
                    <td>{{p.concepto}}</td>
                    <td>{{p.Monto}}</td>
                    <td>{{p.tipo}}</td>
                    {% if p.aceptado == 2 %}
                        <td style="background-color: yellow;">Pendiente</td>
                    {%elif p.aceptado == 1 %}
                        <td style="background-color: red;">Rechazada</td>
                    {%elif p.aceptado == 0 %}
                        <td style="background-color: blue;">Aceptada</td>
                    {%endif%}
                    
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div>
        </p>
    </div>
</div>
</div>
<!-- Código para las animaciones de las pestañas -->
<script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });

    $(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
{% endblock %}