{% extends "layout.html" %} {% block content %}

<head>
    <link rel="stylesheet" href="../../../static/diseño.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<div class="text-center mt-4">
    <label class="h4"><strong>Solicitud de Viatico</strong></label>
</div>

<div class="main-cont-verrrh">
<div class="tab-content" id="justifyCenterTabContent">
    <!--Inicio del formulario viaticos-->
    <div class="tab-pane fade show active" id="justify-center-viatico" role="tabpanel" aria-labelledby="justify-center-viatico-tab">
        <p class="dropcap  dc-outline-primary">
            <!--inicio del formulario de viaticos-->
        <div class="widget-content widget-content-area">
            <!--formulario-->
            <div class="widget-content widget-content-area">

                <div class="m-3">
                    <form id="formvia" name="formvia" method="post">
                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p>Código de usuario</p>
                                <input id="cod" type="number" value="{{info[0].Id_Empleado}}" placeholder="Código del usuario"
                                    min="1" class="form-control" name="codigo" disabled>
                            </div>
                            <!-- <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p style="color: white;">Busqueda</p>
                                <button type="submit" class="btn btn-primary w-20" disabled
                                    >
                                    <a style="color: white; text-decoration: none;">Buscar</a>
                                </button>
                            </div> -->
                        </div>
                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p>Nombres</p>
                                <input id="nombres" type="text" name="nombre" placeholder="Ingrese su nombre" disabled value="{{info[0].nombres}}"
                                    class="form-control">
                            </div>
                        
                            <div class="form-group col-6 ml-0 pl-0" id="container-user">
                                <p>Apellidos</p>
                                <input id="apellidos" type="text" name="apellido" placeholder="Ingrese sus apellidos" disabled value="{{info[0].apellidos}}"
                                    class="form-control" >
                            </div>   
                            </div>
                        
                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-name">
                                <p>Fecha de inicio</p>
                                <input id="t-userName" type="date" name="inicio" placeholder="Apellidos de usuario" disabled value="{{info[0].inicio}}"
                                    class="form-control">
                            </div>
                        
                            <div class="form-group col-6 ml-0 pl-0" id="container-user">
                                <p>Fecha de final</p>
                                <input id="t-userName" type="date" name="final" placeholder="Apellidos de usuario" disabled value="{{info[0].final}}"
                                    class="form-control">
                            </div>   
                        </div>

                        <div class="row col-12 pl-0 pr-0 ml-0 mr-0">
                            <div class="form-group col-6 ml-0 pl-0" id="container-monto">
                                <div class="form-group" id="container-concepto">
                                    <p>Descripcion permiso</p>
                                    <textarea id="taskdescription" placeholder="Descripcion del uso del víatico" rows="2" disabled class="form-control"
                                        name="descripcion" >{{info[0].descripcion}}</textarea>
                                    
                                </div>
                            </div>
                            <!-- <div id="cuotas" class="form-group col-6 ml-0 pl-0 mr-0 pr-0" id="container-cuota">
                                <p>Cédula del usuario</p>
                            <input id="ced" type="text" name="cedula" placeholder="000-000000-0000A" maxlength="16"
                                class="form-control" disabled value="{{info[0].Cedula}}">
                            </div> -->
                        </div>

                        <div class="form-group ml-1 mb-5" id="destino">
                            <p>Lugar de destino</p>
                            <input id="motivo1" type="text" placeholder="Ingrese el motivo especifico" value="{{info[0].destino}}" disabled class="form-control"
                                    name="destino">
                        </div>

                            <table class="table table-hover text-center w-70 justify-content-center mt-2">
                              <thead id="tabla1">
                                <tr>
                                  <th colspan="3">Detalle del viatico (por dia)</th>
                                </tr>
                                <tr>
                                    <th>
                                        Concepto
                                    </th>
                                    <th>Monto</th>
                                    <th>Subtotal</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for det in detalle%}
                                <tr>
                                  <td>{{det.concepto}}</td>
                                  <td>{{det.monto}}</td>
                                  <td>{{det.subtotal}}</td>
                                </tr>
                                {%endfor%}

                                <tr>
                                    <td colspan="2"><Strong>Total</Strong></td>
                                    <td><strong>{{total}} C$</strong></td>
                                </tr>
                              </tbody>
                            </table>
                          <!-- </form> -->

                        <div class="form-group justify-content-center py-2 mt-5">
                            <p class="text-center">Esta solicitud tiene una <b>vigencia de 7 días</b></p>
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <div class="row justify-content-center mr-2">
                                <button type="submit" class="btn btn-primary" onclick="val()"><a style="color: white; text-decoration: none;">Eliminar</a></button>
                            </div> 
    
                            <div class="row justify-content-center mr-2 ml-2">
                                <button type="reset" class="btn btn-primary" onclick="alert('Aun no funcional!')"><a style="color: white; text-decoration: none;">Modificar</a></button>
                            </div>
                
                            <div class="row justify-content-center ml-2">
                                <button type="reset" class="btn btn-primary"><a style="color: white; text-decoration: none;" href="/mostrarviaticos">Atrás</a></button>
                            </div>  
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--fin del formulario de viaticos-->
        </p>
    </div>
    <!-- Fin del formulario viaticos -->
</div>
</div>

<script>
    function envio()
    {
        document.formvia.submit();
    }
    
    function val()
    {
        event.preventDefault();
        
        swal({
        title: "¿Estás seguro?",
        text: "Una vez que elimines la petición, esta no podrá ser recuperada",
        icon: "warning",
        buttons: true,
        dangerMode: true,
        })
        .then((willDelete) => {
        if (willDelete) {
            swal("¡Hecho! Su petición ha sido eliminada", {
            icon: "success",
            });
            window.setTimeout(envio, 1000);
        } else {
            swal("No se ha eliminado la petición");
            return false;
        }
        });
    }
</script>
{% endblock %}